.app-wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

.theme-light {
    background-color: white;
    color: black;
}

.theme-dark {
    background-color: black;
    color: white;
}