.loading {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 25%;

    .spinner {
        width: 100%;
        height: 100%;
    }
}