.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 1rem;

    .container-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        .logo-link {
            height: 80%;

            img {
                height: 100%;
            }

            svg {
                height: 100%;
            }
        }

    }

    .container-hamburger {
        height: 80%;

        svg {
            height: 100%;
        }
    }

    .nav-link-list {
        .nav-link {
            margin: 0 1rem;

            &:first-of-type {
                margin-left: 0;
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}